{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}


{% block content%}

<div class="account_create_base">
    <div>
        <h4>회원가입</h4>
    </div>
    <form action="{% url 'accountapp:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary rounded-pill col-6 mt-3">
    </form>
    <hr>
    <div>
        <a href="{% provider_login_url 'kakao' %}" class="btn btn-warning rounded-pill col-6 mt-3">카카오톡 회원가입</a>
    </div>
</div>

{% endblock %}